*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding:50px 0px;
    border-bottom: px solid #eee;
    background-color: rgb(19, 10, 70);
}
header h1{
    color: #fff;
    text-align: center;
    font-family: Verdana;
    font-size: 20pt;
    font-weight: lighter;
}
nav{
    padding: 20px 0px;
    text-align: center;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    width: 100px;
    padding: 10px 0px;
    text-align: center;
}
nav ul li a {
    font-weight: bold;
    font-family: arial;
    text-decoration: none;
    color:black
}
main{
    margin:0px 100px;
    padding: 10px;   
}
main #container{
    font-family: arial;
    line-height: 30pt;
    text-align: justify;
}
main #container img{
    display: block;
    width: 300px;
    height: 300px;
    margin: 10px auto;
}
main p {
    /* trabalhar o bloco do texto, reduzir a margem esquerda e direita */
    margin-left: 100px;
    margin-right: 100px;
    /* entre um parágrafo e o outro colocar um margem inferior, distanciamento entre os parágrafos */
    margin-bottom: 30px;
    /* justificado */
    text-align: justify;
    font-size: 12pt;
    /* altura da linha (efeito de espaçamento entre linhas)*/ 
    line-height: 25pt;
    font-family: arial;
  }
  main h2 {
    font-family: arial;
    font-size: 15pt;
    margin: 50px;
    /* uma linha fina */
    border-bottom: rgb(19, 10, 70) 1px solid;
    text-align: center;
  }

  main #restrito ul li a{
    font-family: arial;
    font-weight: bold;
    font-size: 12pt;
    text-decoration: none;
    color:#fff;
    background-color: rgb(19, 10, 70);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    padding: 25px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
   
  
  }
  main #restrito ul li{
  background-color: #fff;
  display: inline-block;
  margin: 25px 50px 40px ;
  padding: 0px;
  transition: ease 0.5s;
  text-align: center;
  align-items: center;

}
/* ===================FOOTER - HOME ========================= */
footer {
    background-color: rgb(19, 10, 70);
    /* aplicar margem interna */
    padding: 40px;
    /* empurra a caixa para baixo */
    padding-top: 60px;
    /* altura do rodapé */
    height: 200px;
  }
  /* Para fazer uma formatação em uma tag que tenha um 
    id definido é necessário que você adicione um sustenido 
    (#) ao início do nome do id. Neste caso nossa div tem id 
    chamado end, então aplicamos desta forma: #end  */
  footer #end {
    color: #fff;
    font-family: verdana;
    font-size: 10pt;
    float: left;
    /* onde começa e onde termina 
     border: solid 1px green; */
  }
  footer #end{
    text-align: right;
    padding-right: 50px;
    padding-top: 10px;
    margin-left: 200px;

}

footer #redes ul{
    /* para tirar as bolinhas */
    list-style: none;
}

footer #redes ul li{
    display: inline-block;
}

footer #redes ul li a{
    color: #fff;
    text-decoration: none;
}
footer #redes ul li a i{
    font-size: 45px;
    color: #fff;
    padding-bottom: 40px;
    float: right;
}

/* ===================FORMULÁRIO DE CADASTRO DAS NOTÍCIAS ========================= */

main #container #cadastro{
    width:50%;
    padding:30px;
    background-color: rgb(19, 10, 70);
    /* alinhar ao centro  */
    margin: 0 auto;
    margin-bottom: 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
main #container #cadastro input, 
main #container #cadastro textarea, 
main #container #cadastro button{
    display: block;
    margin-bottom: 10px;
    width: 90%;
    padding: 5px;
   
}

/* =================== LISTA DE NOTÍCIAS ========================= */

main #container #listarNoticias{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    padding: 10px;
    /* border: 1px solid red; */
    margin: 0 auto;
}
main #container #listarNoticias #noticia{
    width: 30%;
    height: auto;
    text-align: center;
    margin:10px;
}

#materia{
display:none;

} 

 
main #container #linha #foto{
   width: 20px;
   height: 20px;
   padding: 0px 0px 0px 0px;

}  

main #container #linha #foto,
main #container #linha #titulonoticia,
main #container #linha #autornoticia,
main #container #linha #datapublicacao,
main #container #linha #texto,
main #container #linha #atualizar,
main #container #linha #apagar{
    font-family: arial;
    padding-top: 10px;
    text-align: center;
    width: auto;
    height: auto;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    flex: 1;
    padding-top: 10px;
    text-align: center;  
    align-items: center;
    justify-content: center;
       
}

main #container #linha #atualizar,
main #container #linha #apagar{
    margin-left: 650px;
    text-align: center;  
    align-items: center;
    justify-content: center;
   
}
main #container #linha #apagar{
    margin-left: 60px;
    text-align: center;  
    align-items: center;
    justify-content: center;
   
}

main #container #linha #foto img{
    width: 15%;
    height: auto;
}

#fundo h3 {
    font-family: arial;
    font-size: 15pt;
    position: absolute;
    bottom: 380px;
    text-align: center;
   
  }
#fundo{
    width: 500px;
    height: 500px;
    margin: 100px auto;
    background-image: url("../images/fundo.gif");
    background-position: center center;
    font-family: arial;
    font-size: 20pt;
    text-align: center;
}
main #container #linha #atualizar a,
main #container #linha #apagar a{
    font-family: arial;
    font-weight: bold;
    font-size: 12pt;
    text-decoration: none;
    color:#fff;
    background-color: rgb(19, 10, 70);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #FFFFFF;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 15px 0 #000000;
    -moz-box-shadow: 1px 1px 15px 0 #000000;
    box-shadow: 1px 1px 15px 0 #000000;
    text-shadow: 1px 1px 15px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
   

}
main #container #linha #nome,
main #container #linha #email,
main #container #linha #telefone,
main #container #linha #login,
main #container #linha #senha,
main #container #linha #atualizar,
main #container #linha #apagar{
    font-family: arial;
    padding-top: 10px;
    text-align: center;
    width: auto;
    height: auto;
    display: inline-block;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;

}

main #container #linha #nome,
main #container #linha #email,
main #container #linha #telefone,
main #container #linha #assunto,
main #container #linha #mensagem,
main #container #linha #apagar{
    font-family: arial;
    padding-top: 10px;
    text-align: center;
    width: auto;
    height: auto;
    display: inline-block;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;

}


